.page-list{
	display:flex;
	.pagination {
		display:flex;
		li {
			cursor:pointer;
		}
	}
	.page-total {
		list-style:none;
		margin: 25px 20px;
		span {
			margin-right: 5px;
		}
		input {
			width: 50px;
		    text-align: center;
		}
	}
}